.dashboard {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 40% 60%;
    padding: 2% 2% 2% 2%;
}

.dashboard-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
