[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
djangorestframework = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
django-debug-toolbar = "*"
django-filter = "*"
psycopg2 = "*"
python-dotenv = "*"
dj-database-url = "*"
factory-boy = "*"
django-phonenumber-field = "*"
django-colorfield = "*"
django-phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.12"
