[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-filter = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-colorfield = "*"
Pillow = "*"
dj-database-url = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
werkzeug = "*"

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
