.form-field {
  text-align: left;
  height: auto;
}

.form-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ccc;
  font-size: 0.9rem;
}

.form-field input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  background: #444;
  color: white;
  font-size: 1rem;
}

.form-field input::placeholder {
  color: #aaa;
}

.form-field select {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  background: #444;
  color: white;
  font-size: 1rem;
}

/* Estilo para a opção desabilitada de placeholder */
.form-field select option[disabled] {
  color: #aaa;
}

/* Quando nada for selecionado (select ainda inválido) */
.form-field select:invalid {
  color: #aaa;
}
