nav {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}