:root {
  @font-face {
    font-family: 'Poppins';
    src: url('/frontend/src/assets/fonts/Poppins/Poppins-Regular.ttf') format('TrueType');
    line-height: normal;
    font-weight: normal;
  }
  font-family: 'Poppins', sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}
