/* login.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #1E1E2F, #9B59B6);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


.logo {
  width: auto;
  height: auto;
  transform: scale(2);
  transform-origin: center;
  display: block;
  margin: 0 auto 2px auto;
}

.container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.login-box {
  background: #2C2C3D;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 500px; /* aumenta a caixa para comportar a imagem maior */
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 102, 196, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-box h1 {
  color: #FF66C4;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

form {
  width: 100%;
}

.register {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.register a {
  text-decoration: underline;
  color: inherit;
}

.error-message {
  background: #fa0303;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.success-message {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
