{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
    <div class="login-box">
        <h1>Piggy Boss</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="input-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button class="btn">Entrar</button>
        </form>
        <div class="register">
            <p>Não possui uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
        </div>
        {% if form.errors %}
        <div>
            <p>Usuário ou senha inválidos.</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
