{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Piggy Boss</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="register-box">
            <h1>Cadastre-se</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="input-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="input-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="input-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <button class="btn">Registrar</button>
            </form>
            <div class="register">
                <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
            </div>
            {% if form.errors %}
            <div class="card">
                <p>Por favor, corrija os erros abaixo.</p>
            </div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
