.list {
    max-height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
}

.list::-webkit-scrollbar {
  width: 8px;
  transition: all 0.3s ease;
}

.list::-webkit-scrollbar-thumb {
  background-color: #f1109b ;
  border-radius: 10px;
}

.list:hover {
  scrollbar-color: #f1109b transparent;
}
